.background {
    background-image: url('https://64.media.tumblr.com/56dbfbf3b7436d6d1fcb8421d946224c/tumblr_np6wsilD5R1txeruoo1_r2_540.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }